@import "tailwindcss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* h1{
  padding: 12px 20px;
  background-image: linear-gradient(green,rgb(48, 205, 82) rgba(rgb(61, 228, 61)));
  background-clip: border;
  border: 1px solid ;
} */